{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title>Nosotros</title>
    {% endblock %}


    {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3">Blog de viajes</span>
                <span class="site-heading-lower">Acerca de nosotros</span>
    {% endblock %}

    {% block contenidoInfo %}
        <h1 style="color: white; text-align: center;"> Somos Sol Renzi y Valentina Corrales.     
            <br> 
            <br> 
            Sol es licenciada en administración y consultora funcional SAP. Trabaja liderando un equipo en un centro de servicios compartidos.
            <br>
            <br> 
            Valentina es contadora y trabaja en el sector de impuestos. 
            <br> 
            <br> 
            Vale se encargó de llevar adelante el proyecto. Juntas trabajamos en calls para ver puntos pendientes o con issues para llevar el proyecto a buen puerto.
            
        </h1>              
    {% endblock %}
     