{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title>Inicio</title>
    {% endblock %}


    {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3">Blog de viajes</span>
                <span class="site-heading-lower">Descubriendo el mundo</span>
    {% endblock %}

    {% block contenidoInfo %}
        <h1 style="color: white; text-align: center;"> En este blog de viajes podes ver informaacion sobre ciudades, restaurantes y alojamientos. </h1>              
    {% endblock %}
     