{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title> Eliminar resturant </title>
    {% endblock %}


    {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3">Blog de viajes</span>
                <span class="site-heading-lower">Confrimacion elimnar restaurant</span>
    {% endblock %}

{% block contenidoInfo %}
           
{% endblock %}

{% block infoExtra %}

    <form method="POST"> {% csrf_token %}

        Estas seguro que quieres eliminar el restaurant: "{{object.nombre}}" ??

            {{ form.as_p }}

       
        
        <input type="submit", value="Ok - eliminar!!">


    </form>

{% endblock %}


     