{% extends "App/padre.html" %} 
{% load static %} 

    {% block contenidoNombre %}
        <title> Detalle restaurantes </title>
    {% endblock %}


        {% block contenidoTitulos %}
                <span class="site-heading-upper text-primary mb-3"> Blog de viajes </span>
                <span class="site-heading-lower"> Vea toda los restaurantes en detalle! </span>
        {% endblock %}

{% block contenidoInfo %}

<ul>
     
   

   <p style="color: aqua;">  Nombre: <i>{{ restaurantes.nombre }} </i></p>
   <p style="color: whitesmoke;"> Tipo de comida: <i> {{ restaurantes.tipoDeComida }} </i> </p>
   <p style="color: whitesmoke;">Calificacion: <i> {{ restaurantes.calificacion }} </i> </p>

   <p> <a href="{% url 'RestaurantesList' %}">Regresar</a> </p>



</ul>
    
{% endblock %}

{% block infoExtra %}


{% endblock %}